<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">DinnerPlans</h3>
    <nav>
      <ul class="nav masthead-nav">
        
        <% if user_signed_in? %>
          <li><%= link_to "Home", current_user %></li>
          <% unless current_user.pantry.nil? or @pantry.nil? %>
            <li><%= link_to "My Pantry", pantry_path(current_user.pantry) %>
            </li>
            <% if current_user.recipes %>
              <li><%= link_to "My Recipes", recipes_path %></li>
            <% end %>
          <% end %>
          <li>
            <%=link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>